body{
    margin: 0;
    padding: 0;
    background-color: #ececec;
}
.root{
    font-family: Fira Code;
 
    /* height: 100vh; */
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ageContainer{
    display: none;
}